pandas
tensorflow
absl-py                      
astunparse                   
attrs                        
build                        
certifi                     
charset-normalizer           
click                        
colorama                     
flatbuffers                  
gast                         
google-pasta                 
grpcio                       
h5py                         
idna                         
jsonschema                   
jsonschema-specifications    
keras                        
libclang                     
Markdown                     
markdown-it-py               
MarkupSafe                   
mdurl                        
ml-dtypes                    
namex                        
numpy                        
opt-einsum                   
optree                       
packaging                   
pandas                       
pep517                       
pip                         
pip-tools                    
protobuf                     
Pygments                     
pyproject_hooks              
pyproject-toml               
python-dateutil             
pytz                         
referencing                  
requests                     
rich                         
rpds-py                      
scipy                        
setuptools                   
six                          
tensorboard                  
tensorboard-data-server      
tensorflow                   
tensorflow-intel             
tensorflow-io-gcs-filesystem 
termcolor                    
toml                         
typing_extensions            
tzdata                       
urllib3                      
Werkzeug                     
wheel                        
wrapt    
pyproject.toml 
ta-lib                   